* {
  box-sizing: border-box;
}

/* make everything push up to border of screen */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Montserrat",sans-serif;
}

/* background picture area for main part*/
.maincontain {
  background-image: url(images/backgroundimage2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:83px;
}

/* main text for main section*/
.maintext {
  text-align: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 1.1rem;
}

/* background color for middle area*/
.middle {
  background-color: #FFCBA4;
  padding-bottom: 70px;
}

/* container for heading and carousel whole*/
.subcontain {
  padding-bottom: 30px;
}

/* adding margin to make pictures more center
and more space for left and right*/
.containerpic {
    margin-right: 5%;
    margin-left: 5%;
}

/* basketball portrait image border*/
img {
  border-style: solid;
  border-width: 8px;
  border-color: #333;
}

/* for hover effect on images*/
/* position relative for container, so no change layout*/
#one {
  position: relative;
  width:280px;
  margin: auto;
}

/*the overlay is absolute for it to be relative to parent position */
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  /* for words inside overlay to be centered and column*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* for overlay to not be visible until hovered*/
  opacity: 0;
  transition: opacity 0.25s;
}

/* change opacity when hovered*/
.image__overlay:hover {
  opacity: 1;
}

/* title, basketball player name increase size*/
.image__title {
  font-size: 2rem;
}

/* changing of link style*/
.image__overlay a{
  color: white;
}

.image__overlay a:hover{
  color: #FFA500;
}


/* footer area*/
footer {
  background-color: #333;
  color: white;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
  color: #FFA500;
}
