<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basketball Club</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/navbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lora:ital@1&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
    <header>
      <nav class="navbar">
        <div class="brand-title align-self-start">DJ Basketball</div>
        <a href="#" class="toggle-button">
          <span class="bars"></span>
          <span class="bars"></span>
          <span class="bars"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="#" class="current">Home</a></li>
            <li><a href="people.html">People</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="askme.html">Ask Me</a></li>
          </ul>
        </div>
      </nav>
    </header>
      <div class="maincontain">
        <div class="maintext">
          <h2>Basketball Fan Page</h2>
          <div class="row justify-content-md-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <p>Hello, Welcome to my website! This website is created to show my love for basketball.
                This website is to let more people know about Basketball, I hope you enjoy!
              </p>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <button type="button" name="button" class="btn btn-secondary" onclick=window.location.href="#skipper">Learn More About Basketball</button>
        </div>
      </div>
      <section class="middle" id="skipper">
        <div style="margin-left: 5%; margin-right: 5%; text-align:center; padding-top:20px;">
          <hr style="height: 10px;">
          <h1 style="font-family: 'Bebas Neue',cursive;">Introduction</h1>
          <hr style="height: 10px;">
        </diV>
      <div class="subcontain">
        <div class="row justify-content-md-center">
          <div class="col-lg-6" id="textbox">
            <div class="introcontainer">
              <h3 id="skip" style="font-family: 'Bebas Neue', cursive;">What is Basketball?</h3>
              <p>Basketball is a team sport which two teams, most commonly of five players each, opposing one another on a court, competing with the objective
                of shooting a basketball through the defender's hoop while preventing the opposing team from shooting through their own hoop.
                There are a many skills required to be good in the game, such as dribbling, passing, and shooting, which makes the game unique and exciting to watch.
              </p>
            </div>
          </div>
          <div class="col-lg-6" id="imagebox">
            <img src="../static/images/basketballimage.jpg" alt="People playing basketball" height="100%" width="100%">
          </div>
        </div>
      </div>
        <div class="video">
          <div style="margin-left: 5%; margin-right: 5%">
            <hr style="height: 10px;">
            <h1 style="font-family: 'Bebas Neue',cursive; text-align:center;">A short video on the rules of basketball</h1>
            <hr style="height: 10px;">
          </diV>
          <div>
            <div class="video-container">
              <iframe width="1120" height="630" src="https://www.youtube.com/embed/XbtmGKif7Ck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr style="height: 10px; margin-left:5%; margin-right:5%;">
          </div>
        </div>
    </section>
    <script type="text/javascript" src="../static/navbar.js"></script>
    <footer>
      <p>&copy; 2021 Chan Ding Jie |
        NYP DSF SF2101, IT1552-01 |
        Chan Ding Jie 212460X<br>
        <a href="mailto: chandingjie913@gmail.com">Email</a> | <a href="https://www.instagram.com/nonotojojosbobofishballs" target="_blank">Instagram</a> | <a href="https://www.facebook.com/XyremCell" target="_blank">Facebook</a>
      </p>
    </footer>
  </body>
</html>
