* {
  box-sizing: border-box;
}

/* make everything push up to border of screen */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Montserrat",sans-serif;
}

/* main background image*/
.maincontain {
  background-image: url(images/background4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 121px;
}

/* text for main part*/
.maintext {
  text-align: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 1.1rem;
}

.middle {
  background: #FFCBA4;
  padding-bottom: 40px;
}

/* container for form
padding for more space between label and input, and form border*/
.formcontainer {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: grey;
  padding: 5px 10px 5px 10px;
  background: white;
}

/* footer area*/
footer {
  background-color: #333;
  color: white;
  padding-bottom: 1px;
  padding-top: 10px;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
  color: #FFA500;
}
